.reports-page {
  padding: 0px;
}

.reports-page h2 {
  font-size: 26px;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
}

.reports-page .ag-theme-alpine {
  margin-left: 100px;
  margin-top: 40px;
}

.ag-header {
  border-bottom: 1px solid #444; 
  border-top: 1px solid #444;
}

.ag-header-cell {
  white-space: nowrap; 
}

.ag-cell {
  min-width: 50px; /* Lebar minimum kolom */
  padding: 10px; /* Padding untuk sel */
  border-bottom: 1px solid #646464; /* Garis bawah sel */
  font-size: 14px; /* Ukuran font untuk isi sel */
  line-height: 30px; /* Tinggi garis untuk membuat kolom lebih lebar secara vertikal */
}

.ag-cell-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-cell-action select {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #444; /* Warna border sesuai dengan container */
  background-color: #222; /* Warna background sesuai dengan container */
  color: #fff; /* Warna teks putih */
}

.ag-cell-action select:focus {
  outline: none;
  border-color: #0f1a27;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .ag-theme-alpine {
    width: 100%;
    height: auto;
  }
}
